<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=dev,initial-scale=1.0">
    <title>全球疫情可视化</title>
    <script src="../static/js/jquery_world.js"></script>
    <script src="../static/js/echarts.min.world.js"></script>
    <script src="../static/js/world.js"></script>
    <link href="../static/css/world.css" rel="stylesheet"/>
</head>
<body>
    <div id="title">全球疫情可视化</div>
    <div id="time">日期时间</div>
    <div id="c1">
        <div class="num"><h1>0</h1></div>
        <div class="num"><h1>0</h1></div>
        <div class="num"><h1>0</h1></div>
        <div class="num"><h1>0</h1></div>
        <div class="txt"><h2>累计确诊</h2></div>
        <div class="txt"><h2>今日新增</h2></div>
        <div class="txt"><h2>累计治愈</h2></div>
        <div class="txt"><h2>累计死亡</h2></div>
    </div>
    <div id="c2">中间2</div>
    <div id="l1">左1</div>
    <div id="l2">左2</div>
    <div id="r1">右1</div>
    <div id="r2">右2</div>

    <script src="../static/js/world_controller.js"></script>
    <script src="../static/js/world_center.js"></script>
    <script src="../static/js/world_left1.js"></script>
    <script src="../static/js/world_left2.js"></script>
    <script src="../static/js/world_right1.js"></script>
    <script src="../static/js/world_right2.js"></script>
</body>
</html>